# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
*.log

# Test Results
[Rr]esult*/

.hg/
bin/
target/

*.zip
*.orig
*.bak

**/*.Development.json
/.vs
/Viamus.Common.Library/Viamus.Common.Library.csproj.user
/Viamus.Common.Library/Properties/PublishProfiles
/Viamus.Common.Library.Mongo/Properties/PublishProfiles
/Viamus.Common.Library.Mongo/Viamus.Common.Library.Mongo.csproj.user
